@media (max-width: 960px) {
  .experience__title {
    &::after {
      left: -230px;
      top: 77px;
      width: 1020px;
    }
    &::before {
      display: none;
    }
  }
  .experience__item {
    margin-left: 15px;
  }
}
@media (max-width: 820px) {
  .experience__title::after {
    display: none;
  }
  .experience__item {
    margin-left: 0;
  }
}
@media (max-width: 481px) {
  .experience__title {
    font-size: 21px;
  }
  .experience__item {
    font-size: 20px;
  }
}
